.n8n/workflows/playwright-to-slack.json
{
  "name": "Playwright Results -> Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "playwright-results"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = $json; const summary = body.summary || {}; return [{ json: { text: `Playwright: ${summary.passed}/${summary.total} passed · Failed: ${summary.failed} · Duration: ${summary.duration || 'n/a'}ms`, raw: body } }];"
      },
      "name": "Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "={{$json[\"text\"]}}",
        "channel": "#general"
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
